.grid {
    -fx-background-color: derive(#ffffff,20%);
}
.label {
	-fx-font-family: "Arial";
    -fx-font-size: 12pt;
    -fx-text-fill: black;
   
}
.label-header {
	-fx-font-family: "Arial";
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-text-fill: #ff9b0f;
    -fx-opacity: 1;
    -fx-alignment: center;
}
.label-search {
	-fx-font-family: "Arial";
    -fx-font-size: 16pt;
    -fx-text-fill: black;
   
}

.invalid {
	-fx-border-color: red;
}


.button{
	-fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-text-fill: #ff9b0f;
    -fx-background-color: derive(#1d1d1d,20%);
}




