.grid {
    -fx-background-color: derive(#ffffff,20%);
}
.label {
	-fx-font-family: "Arial";
    -fx-font-size: 12pt;
    -fx-text-fill: black;
   
}
.label-header {
	-fx-font-family: "Arial";
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-text-fill: #ff9b0f;
    -fx-opacity: 1;
    -fx-alignment: center;
}
.label-navi-select {
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
    -fx-font-size: 14pt;
    -fx-text-fill: black;
   
}

.invalid {
	-fx-border-color: red;
}


.button{
	-fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-text-fill: #ff9b0f;
    -fx-background-color: derive(#1d1d1d,20%);
}


/* Text Felder Disabled */
.text-field:disabled {
	-fx-background-color: #E0E0E2;
	-fx-border-color: black;
	-fx-text-fill: black;
    -fx-opacity: 1.0;
     -fx-font-family: "Arial";
    
}

/* Text Area  */

.text-area {
    -fx-background-color: #E0E0E2;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-opacity: 1.0;
    -fx-font-family: "Arial";
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
        -fx-opacity: 1.0;
         -fx-font-family: "Arial";
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
        -fx-opacity: 1.0;
         -fx-font-family: "Arial";
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
        -fx-opacity: 1.0;
         -fx-font-family: "Arial";
}



