.background {
	-fx-background-color:
        linear-gradient(#5c8dc1 0%, #5c8dc1 100%, #5c8dc1 20%),
        radial-gradient(center 40% 0%, radius 100%, rgba(149, 178, 210, 0.9), rgba(255,255,255,0));
}

.titled-pane:expanded  {
     -fx-text-fill: white;
}

.titled-pane:expanded .title  {
    -fx-background-color: derive(#1d1d1d,20%);

}

.label {
	-fx-font-family: "Arial";
    -fx-font-size: 12pt;
    -fx-text-fill: black;
   
}
.label-header {
	-fx-font-family: "Arial";
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-opacity: 1;
    -fx-alignment: center;
}