

.button{
    -fx-font-family: "Arial";
	-fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-fill: #ff9b0f;
    -fx-background-color: derive(#1d1d1d,20%);
	
}


.label {
    -fx-font-family: "Arial";
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 1.0;
}