.background {
	-fx-background-color:
        linear-gradient(#5c8dc1 0%, #5c8dc1 100%, #5c8dc1 20%),
        radial-gradient(center 40% 0%, radius 100%, rgba(149, 178, 210, 0.9), rgba(255,255,255,0));
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.menu-bar .label {
    -fx-font-size: 13pt;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}


.context-menu {
    -fx-background-color: derive(#ffffff,0%);
}

.menu:hover {
    -fx-background-color: #ff9b0f;
}

.menu-item:hover {
    -fx-background-color: #ff9b0f;
 }
 
.menu-item .label{
	-fx-font-family: "Arial";
    -fx-font-size: 13 pt;
    -fx-background-color: derive(#ffffff,0%);
    -fx-text-fill: black;
}

.titled-pane:expanded  {
     -fx-text-fill: white;
}
.titled-pane:expanded .title  {
    -fx-background-color: derive(#1d1d1d,20%);

}